.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 1440px;
  height: 4628px;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.hero {
  position: absolute;
  left: -4px;
  top: -49px;
  width: 1911.3236px;
  height: 1161px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.textBlockHeroTitleBodyActionRo {
  position: absolute;
  left: 7.8472%;
  right: 54.6963%;
  top: 4.4296%;
  bottom: 88.7424%;
  align-items: flex-start;
}
.body {
  color: #505f98;
  font-size: 18px;
  line-height: 30px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 186.3735px;
  top: 152px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.title {
  color: #091133;
  font-size: 50px;
  line-height: 66px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  position: absolute;
  left: 46px;
  right: 855px;
  top: 209px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.logoLandie {
  position: absolute;
  left: 681px;
  top: 12px;
  width: 79px;
  height: 38px;
  align-items: flex-start;
}
.landie {
  color: #37447e;
  font-size: 26px;
  line-height: 38px;
  font-weight: 900;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: -72.1519%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.rectangle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 98.7035%;
}
.home {
  color: #505f98;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 11.4583%;
  right: 85.9028%;
  top: calc(50% - 2284px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.about {
  color: #505f98;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.2639%;
  right: 79.0972%;
  top: calc(50% - 2284px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.contact {
  color: #505f98;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 25.0694%;
  right: 71.5278%;
  top: calc(50% - 2284px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.elementButtonSmallFilled {
  position: absolute;
  left: 82.5%;
  right: 6.3889%;
  top: 0.3889%;
  bottom: 99.0493%;
  align-items: flex-start;
}
.bG {
  position: absolute;
  left: 48px;
  right: 57px;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #111b47;
}
.buttonLabel {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.elementButtonSmallFilled2 {
  position: absolute;
  left: 91.3194%;
  right: 4.2361%;
  top: 0.3889%;
  bottom: 99.0493%;
  align-items: flex-start;
}
.bG2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #111b47;
}
.buttonLabel2 {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 38.3535%;
  bottom: 48.9628%;
}
.rectangle1 {
  position: absolute;
  left: 786px;
  top: 2047.3516px;
  width: 544px;
  height: 42.297px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 34px;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.textBlockSectionLargeTitleBody {
  position: absolute;
  left: 57.6389%;
  right: 11.4583%;
  top: 41.8309%;
  bottom: 53.0867%;
  align-items: flex-start;
}
.body2 {
  color: #6f7cb2;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  height: min-content;
  flex-direction: column;
}
.title2 {
  color: #091133;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: min-content;
  flex-direction: column;
}
.realAnalysis {
  color: #374670;
  font-size: 20px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -19px;
  top: 123px;
  width: 242px;
  height: 38px;
  flex-direction: column;
}
.IconSearchEngine {
  position: absolute;
  left: 1281px;
  top: 2051.5413px;
  width: 34.0258px;
  height: 35.1022px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.elementCardInfoCardMediumIconT {
  position: absolute;
  left: 56.3194%;
  right: 25.9722%;
  top: 45.6427%;
  bottom: 51.504%;
  align-items: flex-start;
}
.body3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 4px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 4px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.elementCardInfoCardSmallIconPo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 36px;
  align-items: flex-start;
}
.icon5 {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 23.9844%;
  bottom: 59.9827%;
}
.elementCardInfoCardMediumIconT2 {
  position: absolute;
  left: 12.5694%;
  right: 69.7222%;
  top: 33.7295%;
  bottom: 63.2887%;
  align-items: flex-start;
}
.elementCardInfoCardSmallIconPo2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 36px;
  align-items: flex-start;
}
.icon7 {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.title3 {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 45px;
  right: -45px;
  top: 5px;
  height: min-content;
  flex-direction: column;
}
.courseInstructorDrMPrabhakarSe {
  position: absolute;
  left: 0;
  top: 55px;
  width: 233px;
  height: 66px;
  flex-direction: column;
}
.textBlock4 {
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 10px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 10px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.elementCardInfoCardMediumIconT3 {
  position: absolute;
  left: 12.5694%;
  right: 69.7222%;
  top: 30.8341%;
  bottom: 66.4002%;
  align-items: flex-start;
}
.body4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  height: min-content;
  flex-direction: column;
}
.textBlock7 {
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 4px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 4px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.elementCardInfoCardSmallIconPo3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 36px;
  align-items: flex-start;
}
.icon9 {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.textBlockSectionLargeTitleBody2 {
  position: absolute;
  left: 10.3472%;
  right: 52.1528%;
  top: 27.3336%;
  bottom: 68.2584%;
  align-items: flex-start;
}
.body5 {
  color: #6f7cb2;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  height: min-content;
  flex-direction: column;
}
.title4 {
  color: #091133;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: min-content;
  flex-direction: column;
}
.rectangle12 {
  position: absolute;
  left: 7px;
  top: 99px;
  width: 544px;
  height: 41px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 34px;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.realAnalysis2 {
  color: #374670;
  font-size: 20px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 7px;
  top: 110px;
  width: 178px;
  height: 28px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.IconSearchEngine2 {
  position: absolute;
  left: 493px;
  top: 102px;
  width: 35px;
  height: 35.0258px;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.title5 {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 74px;
  right: 211px;
  top: 168px;
  height: min-content;
  flex-direction: column;
}
.arrow1 {
  position: absolute;
  left: 458px;
  top: 186px;
  width: 169px;
  max-width: 100%;
  height: 3px;
  max-height: 100%;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.rectangle3 {
  position: absolute;
  left: -0.3274%;
  right: 0.3274%;
  top: 61.0631%;
  bottom: 27.1392%;
}
.textBlockSectionLargeTitleBody3 {
  position: absolute;
  left: 57.0337%;
  right: 12.0635%;
  top: 63.656%;
  bottom: 31.3742%;
  align-items: flex-start;
}
.body6 {
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  height: min-content;
  flex-direction: column;
}
.textBlock10 {
  color: #6f7cb2;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 10px;
  color: #6f7cb2;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.title6 {
  color: #091133;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: min-content;
  flex-direction: column;
}
.elementButtonMediumFilled {
  position: absolute;
  left: 57.0337%;
  right: 32.5496%;
  top: 69.4901%;
  bottom: 29.8185%;
  align-items: flex-start;
}
.bG3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #111b47;
}
.buttonLabel3 {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.undraw_mention_6k5d {
  position: absolute;
  left: 204.2858px;
  top: 2943.9349px;
  width: 445px;
  height: 312px;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.rectangle4 {
  position: absolute;
  left: -43.4028%;
  right: -33.4675%;
  top: 73.8849%;
  bottom: 5.8471%;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.elementButtonMediumFilled2 {
  position: absolute;
  left: 43.0754%;
  right: 43.7996%;
  top: 86.8595%;
  bottom: 12.4532%;
  align-items: flex-start;
}
.bG4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -0.188px;
  border-radius: 2px;
  background-color: #111b47;
}
.buttonLabel4 {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - -0.094px);
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.body7 {
  color: #5d6970;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 540.2858px;
  right: 549.7142px;
  top: 3986.8223px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.title7 {
  color: #37447e;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 540.2858px;
  right: 549.7142px;
  top: 3900.8223px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.price {
  color: #222f65;
  font-size: 50px;
  line-height: 66px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 1px;
  position: absolute;
  left: 540.2858px;
  right: 549.7142px;
  top: 3834.8223px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.textBlockSectionLargeTitleBody4 {
  position: absolute;
  left: 28.8393%;
  right: 29.494%;
  top: 79.019%;
  bottom: 18.4677%;
  align-items: flex-start;
}
.body8 {
  color: #6f7cb2;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.title8 {
  color: #091133;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.rectangle5 {
  position: absolute;
  left: 0;
  right: 0;
  top: 95.3328%;
  bottom: 0;
  background-color: #e7ecff;
}
.elementButtonSmallFilled3 {
  position: absolute;
  left: 80.9722%;
  right: 11.4583%;
  top: 96.7805%;
  bottom: 2.6577%;
  align-items: flex-start;
}
.bG5 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #111b47;
}
.buttonLabel5 {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.unnamed {
  color: #939ea4;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 11.4583%;
  right: 79.3056%;
  top: calc(50% - -2178px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.home2 {
  color: #929ecc;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 11.4583%;
  right: 85.9028%;
  top: calc(50% - -2270px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.about2 {
  color: #929ecc;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.2639%;
  right: 79.0972%;
  top: calc(50% - -2270px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.contact2 {
  color: #929ecc;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 25.0694%;
  right: 71.5278%;
  top: calc(50% - -2270px);
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  transform: translateY(-50%);
}
.iconSocialInstagram {
  position: absolute;
  left: 87.4306%;
  right: 11.4583%;
  top: 98.8764%;
  bottom: 0.7779%;
  overflow: visible;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.iconSocialInstagramCopy {
  position: absolute;
  left: 84.2361%;
  right: 14.6528%;
  top: 98.8764%;
  bottom: 0.7779%;
  overflow: visible;
}
.icon16 {
  width: 100%;
  height: 100%;
}
.iconSocialInstagramCopy2 {
  position: absolute;
  left: 81.0417%;
  right: 17.8472%;
  top: 98.8764%;
  bottom: 0.7779%;
  overflow: visible;
}
.icon17 {
  width: 100%;
  height: 100%;
}
.iconSocialInstagramCopy3 {
  position: absolute;
  left: 77.8472%;
  right: 21.0417%;
  top: 98.8764%;
  bottom: 0.7779%;
  overflow: visible;
}
.icon18 {
  width: 100%;
  height: 100%;
}
.iconSocialInstagramCopy4 {
  position: absolute;
  left: 74.6528%;
  right: 24.2361%;
  top: 98.8764%;
  bottom: 0.7779%;
  overflow: visible;
}
.icon19 {
  width: 100%;
  height: 100%;
}
.rectangle6 {
  position: absolute;
  left: 11.4583%;
  right: 11.4583%;
  top: 98.3362%;
  bottom: 1.6422%;
  max-width: 100%;
  max-height: 100%;
  background-color: #cdd1d4;
}
.logoLandie2 {
  position: absolute;
  left: 680px;
  top: 4473px;
  width: 79px;
  height: 38px;
  align-items: flex-start;
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/landingPage.svg');
  mask-image:/* webpackIgnore: true */ url('assets/landingPage.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -718px -3341px;
  mask-position: -718px -3341px;
  -webkit-mask-size: 1464px 742px;
  mask-size: 1464px 742px;
}
.landie2 {
  color: #37447e;
  font-size: 26px;
  line-height: 38px;
  font-weight: 900;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: -20.2532%;
  top: 0;
  bottom: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.table {
  position: absolute;
  left: 857px;
  top: 1432px;
  width: 526px;
  height: 262px;
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/landingPage.svg');
  mask-image:/* webpackIgnore: true */ url('assets/landingPage.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -895px -300px;
  mask-position: -895px -300px;
  -webkit-mask-size: 1464px 742px;
  mask-size: 1464px 742px;
}
.realAnalysisSession2022I {
  position: absolute;
  left: 855px;
  top: 1389px;
  width: 494px;
  height: 310px;
  -webkit-mask-image:/* webpackIgnore: true */ url('assets/landingPage.svg');
  mask-image:/* webpackIgnore: true */ url('assets/landingPage.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: -893px -257px;
  mask-position: -893px -257px;
  -webkit-mask-size: 1464px 742px;
  mask-size: 1464px 742px;
  flex-direction: column;
}
.list {
  font-size: 16px;
}
.list ::marker {
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock12 {
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock13 {
  margin-top: 0;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.frame1 {
  position: absolute;
  left: 973px;
  top: 1441px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.arrow2 {
  position: absolute;
  left: 618px;
  top: 2148px;
  width: 163px;
  height: 3px;
  overflow: visible;
}
.icon20 {
  width: 100%;
  height: 100%;
}
.elementCardInfoCardSmallIconPo4 {
  position: absolute;
  left: 121px;
  right: 1063px;
  top: 901px;
  height: 36px;
  align-items: flex-start;
}
.icon21 {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon22 {
  width: 100%;
  height: 100%;
}
.title9 {
  position: absolute;
  left: 51px;
  right: -51px;
  top: 5px;
  height: min-content;
  flex-direction: column;
}
.textBlock14 {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock15 {
  margin-top: 10px;
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.body9 {
  color: #505f98;
  font-size: 15px;
  line-height: 30px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 121px;
  right: 1018px;
  top: 945px;
  height: min-content;
  flex-direction: column;
}
.body10 {
  color: #505f98;
  font-size: 15px;
  line-height: 30px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 119px;
  right: 1020px;
  top: 586px;
  height: min-content;
  flex-direction: column;
}
.courseSpecificResources {
  position: absolute;
  left: 118px;
  right: 1067px;
  top: 543px;
  height: 36px;
  align-items: flex-start;
}
.icon23 {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon24 {
  width: 100%;
  height: 100%;
}
.title10 {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 51px;
  right: -51px;
  top: 5px;
  height: min-content;
  flex-direction: column;
}
.icon25 {
  position: absolute;
  left: 119px;
  top: 745px;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon26 {
  width: 100%;
  height: 100%;
}
.title11 {
  position: absolute;
  left: 174px;
  right: 1011px;
  top: 750px;
  height: min-content;
  flex-direction: column;
}
.textBlock16 {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock17 {
  margin-top: 10px;
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.body11 {
  color: #505f98;
  font-size: 15px;
  line-height: 30px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 121px;
  right: 1018px;
  top: 795px;
  height: min-content;
  flex-direction: column;
}
.detailPage {
  position: absolute;
  left: 152px;
  top: 1840px;
  width: 393px;
  height: 552px;
  align-items: flex-start;
  outline: solid 20px #c3d0f9;
  border-radius: 20px;
  background-color: #4d5c92;
  overflow: hidden;
}
.frame22 {
  position: absolute;
  left: 0;
  top: 80px;
  width: 393px;
  height: 772px;
  align-items: flex-start;
  border-radius: 40px 40px 0 0;
  background-color: #fff;
  overflow: hidden;
}
.searchBar {
  position: absolute;
  left: 4.5802%;
  right: 4.5802%;
  top: 90.6736%;
  bottom: 2.0725%;
  border-radius: 28px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 14px 3px #0000001f;
}
.stateLayer {
  flex: 1;
  align-self: stretch;
  align-items: center;
  gap: 4px;
  padding: 4px;
}
.leadingIcon {
  width: 48px;
  height: 48px;
  flex-direction: column;
  place-content: center;
  align-items: center;
}
.container {
  width: min-content;
  height: min-content;
  border-radius: 100px;
  overflow: hidden;
}
.stateLayer2 {
  width: 39px;
  height: 39px;
  overflow: visible;
}
.icon27 {
  width: 100%;
  height: 100%;
}
.content {
  flex: 1;
  align-self: stretch;
  align-items: center;
}
.supportingText {
  color: #3d3d3d;
  font-size: 14px;
  line-height: 24px;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.trailingElements {
  width: min-content;
  height: min-content;
  place-content: flex-end;
  align-items: center;
}
._1stTrailingIcon {
  width: 48px;
  height: 48px;
  flex-direction: column;
  place-content: center;
  align-items: center;
}
.container2 {
  width: min-content;
  height: min-content;
  border-radius: 100px;
  background-color: #5a0fc8;
  overflow: hidden;
}
.stateLayer3 {
  width: 46px;
  height: 46px;
  overflow: visible;
}
.icon28 {
  width: 100%;
  height: 100%;
}
.frame40 {
  position: absolute;
  left: 23.4097%;
  right: 1.7812%;
  top: calc(50% - -68.5px);
  height: 45px;
  place-content: center;
  padding: 0 0 0 121px;
  transform: translateY(-50%);
}
.frame31 {
  position: absolute;
  left: 221px;
  top: 386px;
  width: 162px;
  height: 48px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 74px;
}
.frame26 {
  width: 99px;
  height: 42px;
}
.icon29 {
  width: 100%;
  height: 100%;
}
.frame28 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM {
  color: #3d3d3d;
  font-size: 7px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame34 {
  position: absolute;
  left: 20px;
  top: 113px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.frame32 {
  width: 357px;
  height: min-content;
  padding: 0 0 0 121px;
}
.frame312 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.frame262 {
  height: 39px;
  align-self: stretch;
  padding: 12px;
  border-radius: 30px 30px 0;
  background-color: #93a2d8;
  overflow: hidden;
}
.frame282 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM2 {
  color: #3d3d3d;
  font-size: 7px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame33 {
  width: 246px;
  height: min-content;
  place-content: center;
}
.frame313 {
  width: 248px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.frame263 {
  height: 39px;
  align-self: stretch;
  padding: 12px;
  border-radius: 30px 30px 30px 0;
  background-color: #505f98;
  overflow: hidden;
}
.frame283 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM3 {
  color: #3d3d3d;
  font-size: 7px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame402 {
  width: 358px;
  height: min-content;
  padding: 0 0 0 121px;
}
.frame314 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.frame264 {
  height: 39px;
  align-self: stretch;
  padding: 12px;
  border-radius: 30px 30px 0;
  background-color: #93a2d8;
  overflow: hidden;
}
.frame284 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM4 {
  color: #3d3d3d;
  font-size: 7px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame315 {
  width: 248px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.frame265 {
  height: 39px;
  align-self: stretch;
  padding: 12px;
  border-radius: 30px 30px 30px 0;
  background-color: #505f98;
  overflow: hidden;
}
.frame285 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM5 {
  color: #3d3d3d;
  font-size: 7px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame38 {
  width: 357px;
  height: min-content;
}
.frame316 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.frame266 {
  height: 39px;
  align-self: stretch;
  padding: 12px;
  border-radius: 30px 30px 30px 0;
  background-color: #505f98;
  overflow: hidden;
}
.frame27 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM6 {
  color: #3d3d3d;
  font-size: 7px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.topAppBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 393px;
  height: min-content;
  align-items: center;
  gap: 4px;
  padding: 8px 4px;
}
.headline {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.trailingIcon {
  width: min-content;
  height: min-content;
  place-content: flex-end;
  align-items: center;
}
.trailingIcon2 {
  width: 48px;
  height: 48px;
  flex-direction: column;
  place-content: center;
  align-items: center;
}
.container3 {
  width: min-content;
  height: min-content;
  border-radius: 100px;
  overflow: hidden;
}
.stateLayer4 {
  width: 40px;
  height: 40.0361px;
  overflow: visible;
}
.icon30 {
  width: 100%;
  height: 100%;
}
.mask2 {
  position: absolute;
  left: -0.3274%;
  right: 0.3274%;
  top: 56.6119%;
  bottom: 27.3552%;
  outline: solid 0 #000;
  outline-offset: 0;
}
.rectangle32 {
  position: absolute;
  left: 2.2858px;
  top: 2618px;
  width: 1440px;
  height: 1118px;
  border-radius: 65px;
  background-color: #fff;
}
.body12 {
  color: #6f7cb2;
  font-size: 18px;
  line-height: 26px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 689.2858px;
  right: 305.7142px;
  top: 3277px;
  height: min-content;
  flex-direction: column;
}
.rectangle42 {
  position: absolute;
  left: 689.2858px;
  top: 3311px;
  width: 558px;
  height: 226px;
  overflow: visible;
  filter: drop-shadow(0px 4px 4px #00000040);
}
.icon31 {
  width: 100%;
  height: 100%;
}
.textBlockSectionLargeTitleBody5 {
  position: absolute;
  left: 10.0198%;
  right: 52.4802%;
  top: 59.9611%;
  bottom: 35.6309%;
  align-items: flex-start;
  outline: solid 0 #000;
  outline-offset: 0;
}
.body13 {
  color: #6f7cb2;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  height: min-content;
  flex-direction: column;
}
.title12 {
  color: #091133;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: min-content;
  flex-direction: column;
}
.goals {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 47px;
  right: 238px;
  top: 162px;
  height: min-content;
  flex-direction: column;
}
.IconSearchEngine3 {
  z-index: 0;
  position: absolute;
  left: 15px;
  top: 163px;
  width: 22px;
  height: 21px;
  overflow: visible;
}
.icon32 {
  width: 100%;
  height: 100%;
}
.goals2 {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 47px;
  right: 238px;
  top: 214px;
  height: min-content;
  flex-direction: column;
}
.IconSearchEngine4 {
  z-index: 0;
  position: absolute;
  left: 15px;
  top: 216px;
  width: 22px;
  height: 21px;
  overflow: visible;
}
.icon33 {
  width: 100%;
  height: 100%;
}
.goals3 {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 47px;
  right: 238px;
  top: 136px;
  height: min-content;
  flex-direction: column;
}
.IconSearchEngine5 {
  z-index: 0;
  position: absolute;
  left: 15px;
  top: 138px;
  width: 22px;
  height: 21px;
  overflow: visible;
}
.icon34 {
  width: 100%;
  height: 100%;
}
.goals4 {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 47px;
  right: 238px;
  top: 188px;
  height: min-content;
  flex-direction: column;
}
.IconSearchEngine6 {
  z-index: 0;
  position: absolute;
  left: 15px;
  top: 190px;
  width: 22px;
  height: 21px;
  overflow: visible;
}
.icon35 {
  width: 100%;
  height: 100%;
}
.goals5 {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 47px;
  right: 238px;
  top: 110px;
  height: min-content;
  flex-direction: column;
}
.IconSearchEngine7 {
  z-index: 0;
  position: absolute;
  left: 15px;
  top: 112px;
  width: 22px;
  height: 21px;
  overflow: visible;
}
.icon36 {
  width: 100%;
  height: 100%;
}
.title13 {
  color: #091133;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  position: absolute;
  left: 540px;
  right: -509px;
  top: 454px;
  height: min-content;
  flex-direction: column;
}
.arrow12 {
  position: absolute;
  left: 502px;
  top: 2943px;
  width: 146px;
  max-width: 100%;
  height: 3px;
  max-height: 100%;
  overflow: visible;
}
.icon37 {
  width: 100%;
  height: 100%;
}
.rectangle13 {
  position: absolute;
  left: 684.2858px;
  top: 2869px;
  width: 558px;
  height: 141px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 25px;
  background-color: #f5f8ff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.textBlockSectionLargeTitleBody6 {
  position: absolute;
  left: 49.6726%;
  right: 19.4246%;
  top: 59.6154%;
  bottom: 35.3022%;
  align-items: flex-start;
}
.body14 {
  color: #6f7cb2;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -26px;
  right: 26px;
  top: 64px;
  height: min-content;
  flex-direction: column;
}
.title14 {
  color: #091133;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -26px;
  right: -38px;
  top: 16px;
  height: min-content;
  flex-direction: column;
}
.rectangle22 {
  position: absolute;
  left: -14px;
  top: 121px;
  width: 379px;
  height: 30.9796px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 34px;
  background-color: #ccd2e4;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.mA515FoundationsOfDataScience {
  color: #374670;
  font-size: 20px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  top: 128.4082px;
  width: 458px;
  height: 25.5918px;
  flex-direction: column;
}
.rectangle23 {
  position: absolute;
  left: -14px;
  top: 161px;
  width: 408px;
  height: 30.0408px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 34px;
  background-color: #ccd2e4;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.cS101DiscreteMathematicalStruc {
  color: #374670;
  font-size: 20px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -3.2226px;
  top: 168.1836px;
  width: 369.5094px;
  height: 24.8163px;
  flex-direction: column;
}
.rectangle24 {
  position: absolute;
  left: -14px;
  top: 200px;
  width: 247px;
  height: 30.0408px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 34px;
  background-color: #ccd2e4;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.cS201DataStructures {
  color: #374670;
  font-size: 20px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -7.4755px;
  top: 207.1836px;
  width: 223.6981px;
  height: 24.8163px;
  flex-direction: column;
}
.IconCancel {
  position: absolute;
  left: 212px;
  top: 211px;
  width: 9px;
  height: 11px;
  overflow: visible;
}
.icon38 {
  width: 100%;
  height: 100%;
}
.IconCancel2 {
  position: absolute;
  left: 371px;
  top: 170px;
  width: 9px;
  height: 11px;
  overflow: visible;
}
.icon39 {
  width: 100%;
  height: 100%;
}
.IconCancel3 {
  position: absolute;
  left: 344px;
  top: 130px;
  width: 9px;
  height: 11px;
  overflow: visible;
}
.icon40 {
  width: 100%;
  height: 100%;
}
.IconSquare {
  position: absolute;
  left: 318.2858px;
  top: 3021px;
  width: 21px;
  height: 20px;
  overflow: visible;
}
.icon41 {
  width: 100%;
  height: 100%;
}
.arrow13 {
  position: absolute;
  left: 970.303px;
  top: 3046px;
  width: 3px;
  max-width: 100%;
  height: 115.0002px;
  max-height: 100%;
  overflow: visible;
}
.icon42 {
  width: 100%;
  height: 100%;
}
.IconSend {
  position: absolute;
  left: 1187.2858px;
  top: 2957px;
  width: 33.6369px;
  height: 30px;
  overflow: visible;
}
.icon43 {
  width: 100%;
  height: 100%;
}
.goals6 {
  opacity: 0.2;
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 190.2858px;
  right: 994.7142px;
  top: 3020px;
  height: min-content;
  flex-direction: column;
}
.IconPin {
  position: absolute;
  left: 321.0249px;
  top: 3024.4783px;
  width: 15.5218px;
  height: 13.9128px;
  overflow: visible;
}
.icon44 {
  width: 100%;
  height: 100%;
}
.IconCheck {
  position: absolute;
  left: 160.2858px;
  top: 2886px;
  width: 21px;
  height: 19px;
  overflow: visible;
}
.icon45 {
  width: 100%;
  height: 100%;
}
.line3 {
  position: absolute;
  left: 186.2858px;
  top: 3040px;
  width: 122px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: -1px;
  border-style: dashed;
}
.rectangle25 {
  position: absolute;
  left: 708.2858px;
  top: 3329px;
  width: 291px;
  height: 47px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 15px;
  background-color: #d7e1ff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.cS503MachineLearning {
  color: #374670;
  font-size: 20px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 722.2858px;
  top: 3340.2246px;
  width: 458px;
  height: 38.7755px;
  flex-direction: column;
}
.IconArrowRightCircled {
  position: absolute;
  left: 958.2858px;
  top: 3338px;
  width: 31px;
  height: 31px;
  overflow: visible;
}
.icon46 {
  width: 100%;
  height: 100%;
}
.rectangle26 {
  position: absolute;
  left: 715.2858px;
  top: 3474px;
  width: 239px;
  height: 47px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 15px;
  background-color: #d7e1ff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.cS712TopicsInAI {
  color: #374670;
  font-size: 20px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 722.2858px;
  top: 3485px;
  width: 483px;
  height: 39px;
  flex-direction: column;
}
.rectangle27 {
  position: absolute;
  left: 712.2858px;
  top: 3400px;
  width: 345px;
  height: 51px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 15px;
  background-color: #d7e1ff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.cS533ReinforcementLearning {
  color: #374670;
  font-size: 20px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 726.3747px;
  top: 3412.1225px;
  width: 460.911px;
  height: 41.8776px;
  flex-direction: column;
}
.line2 {
  transform-origin: bottom left;
  position: absolute;
  left: 191.2858px;
  top: 3040px;
  width: 192px;
  max-width: 100%;
  height: 0;
  max-height: 100%;
  transform: matrix(1, 0, 0, 1, 0, 0);
}
.undraw_mobile_login_ikmvElemen {
  position: absolute;
  left: -665px;
  top: 2940px;
  width: 1440px;
  height: 742px;
  overflow: visible;
}
.icon47 {
  width: 100%;
  height: 100%;
}
.rectangle7 {
  position: absolute;
  left: -0.3472%;
  right: -0.1389%;
  top: 79.5592%;
  bottom: 15.7736%;
  background-color: #e7ecff;
}
.unnamed2 {
  color: #939ea4;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 11.1668%;
  right: 79.5522%;
  top: calc(50% - -1448px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.home3 {
  color: #929ecc;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 11.1668%;
  right: 86.1815%;
  top: calc(50% - -1540px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.about3 {
  color: #929ecc;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18.0055%;
  right: 79.3428%;
  top: calc(50% - -1540px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.contact3 {
  color: #929ecc;
  font-size: 14px;
  line-height: 24px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 24.8441%;
  right: 71.7366%;
  top: calc(50% - -1540px);
  height: min-content;
  flex-direction: column;
  transform: translateY(-50%);
}
.iconSocialInstagram2 {
  position: absolute;
  left: 87.5083%;
  right: 11.3751%;
  top: 83.1029%;
  bottom: 16.5514%;
  overflow: visible;
}
.icon48 {
  width: 100%;
  height: 100%;
}
.iconSocialInstagramCopy5 {
  position: absolute;
  left: 84.2984%;
  right: 14.5851%;
  top: 83.1029%;
  bottom: 16.5514%;
  overflow: visible;
}
.icon49 {
  width: 100%;
  height: 100%;
}
.iconSocialInstagramCopy22 {
  position: absolute;
  left: 81.0884%;
  right: 17.7951%;
  top: 83.1029%;
  bottom: 16.5514%;
  overflow: visible;
}
.icon50 {
  width: 100%;
  height: 100%;
}
.iconSocialInstagramCopy32 {
  position: absolute;
  left: 77.8784%;
  right: 21.0051%;
  top: 83.1029%;
  bottom: 16.5514%;
  overflow: visible;
}
.icon51 {
  width: 100%;
  height: 100%;
}
.iconSocialInstagramCopy42 {
  position: absolute;
  left: 74.6685%;
  right: 24.215%;
  top: 83.1029%;
  bottom: 16.5514%;
  overflow: visible;
}
.icon52 {
  width: 100%;
  height: 100%;
}
.rectangle8 {
  position: absolute;
  left: 11.1668%;
  right: 11.3751%;
  top: 82.5627%;
  bottom: 17.4157%;
  max-width: 100%;
  max-height: 100%;
  background-color: #cdd1d4;
}
