.icon {
  width: 100%;
  height: 100%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 1440px;
  height: 1299px;
  align-items: flex-start;
  background-color: #fff;
}
.rectangle3 {
  position: absolute;
  left: 0;
  top: 0;
  width: 1440px;
  height: 1299px;
  border-radius: 65px;
  background-color: #fff;
}
.rectangle {
  position: absolute;
  left: -0.4861%;
  right: 0.4861%;
  top: 51.1932%;
  bottom: 3.6182%;
}
.rectangle1 {
  position: absolute;
  left: 779px;
  top: 937.3516px;
  width: 544px;
  height: 42.297px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 34px;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.textBlockSectionLargeTitleBody {
  position: absolute;
  left: 57.1528%;
  right: 11.9444%;
  top: 63.5824%;
  bottom: 18.3104%;
  align-items: flex-start;
}
.body {
  color: #6f7cb2;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  height: min-content;
  flex-direction: column;
}
.title {
  color: #091133;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: min-content;
  flex-direction: column;
}
.realAnalysis {
  color: #374670;
  font-size: 20px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: -19px;
  top: 123px;
  width: 242px;
  height: 38px;
  flex-direction: column;
}
.IconSearchEngine {
  position: absolute;
  left: 1274px;
  top: 941.5413px;
  width: 34.0258px;
  height: 35.1022px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.elementCardInfoCardMediumIconT {
  position: absolute;
  left: 55.8333%;
  right: 26.4583%;
  top: 77.1628%;
  bottom: 12.6718%;
  align-items: flex-start;
}
.body2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  height: min-content;
  flex-direction: column;
}
.textBlock {
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 4px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock3 {
  margin-top: 4px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.elementCardInfoCardSmallIconPo {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 36px;
  align-items: flex-start;
}
.icon4 {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.mask {
  position: absolute;
  left: -0.4861%;
  right: 0.4861%;
  top: 0;
  bottom: 42.8791%;
}
.elementCardInfoCardMediumIconT2 {
  position: absolute;
  left: 12.0833%;
  right: 70.2083%;
  top: 34.719%;
  bottom: 54.6574%;
  align-items: flex-start;
}
.elementCardInfoCardSmallIconPo2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 36px;
  align-items: flex-start;
}
.icon6 {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.title2 {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 45px;
  right: -45px;
  top: 5px;
  height: min-content;
  flex-direction: column;
}
.courseInstructorDrMPrabhakarSe {
  position: absolute;
  left: 0;
  top: 55px;
  width: 233px;
  height: 66px;
  flex-direction: column;
}
.textBlock4 {
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock5 {
  margin-top: 10px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 10px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.elementCardInfoCardMediumIconT3 {
  position: absolute;
  left: 12.0833%;
  right: 70.2083%;
  top: 24.4034%;
  bottom: 65.7429%;
  align-items: flex-start;
}
.body3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50px;
  height: min-content;
  flex-direction: column;
}
.textBlock7 {
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 4px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock9 {
  margin-top: 4px;
  color: #5d6970;
  font-size: 15px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.elementCardInfoCardSmallIconPo3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 36px;
  align-items: flex-start;
}
.icon8 {
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  overflow: visible;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.textBlockSectionLargeTitleBody2 {
  position: absolute;
  left: 9.8611%;
  right: 52.6389%;
  top: 11.9323%;
  bottom: 72.3634%;
  align-items: flex-start;
}
.body4 {
  color: #6f7cb2;
  font-size: 16px;
  line-height: 26px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 64px;
  height: min-content;
  flex-direction: column;
}
.title3 {
  color: #091133;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: min-content;
  flex-direction: column;
}
.rectangle12 {
  position: absolute;
  left: 7px;
  top: 99px;
  width: 544px;
  height: 41px;
  outline: solid 1px #000;
  outline-offset: -1px;
  border-radius: 34px;
  background-color: #d9d9d9;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.realAnalysis2 {
  color: #374670;
  font-size: 20px;
  line-height: 18px;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 7px;
  top: 110px;
  width: 178px;
  height: 28px;
  text-align: center;
  align-items: center;
  flex-direction: column;
}
.IconSearchEngine2 {
  position: absolute;
  left: 493px;
  top: 102px;
  width: 35px;
  height: 35.0258px;
  overflow: visible;
}
.icon10 {
  width: 100%;
  height: 100%;
}
.title4 {
  color: #091133;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 74px;
  right: 211px;
  top: 168px;
  height: min-content;
  flex-direction: column;
}
.arrow1 {
  position: absolute;
  left: 458px;
  top: 186px;
  width: 169px;
  max-width: 100%;
  height: 3px;
  max-height: 100%;
  overflow: visible;
}
.icon11 {
  width: 100%;
  height: 100%;
}
.table {
  position: absolute;
  left: 850px;
  top: 322px;
  width: 526px;
  height: 262px;
}
.realAnalysisSession2022I {
  position: absolute;
  left: 848px;
  top: 279px;
  width: 494px;
  height: 310px;
  flex-direction: column;
}
.list {
  font-size: 16px;
}
.list ::marker {
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock11 {
  margin-top: 0;
  color: #000;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.frame1 {
  position: absolute;
  left: 966px;
  top: 331px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.arrow2 {
  position: absolute;
  left: 611px;
  top: 1038px;
  width: 163px;
  height: 3px;
  overflow: visible;
}
.icon12 {
  width: 100%;
  height: 100%;
}
.detailPage {
  position: absolute;
  left: 145px;
  top: 648px;
  width: 393px;
  height: 552px;
  align-items: flex-start;
  outline: solid 20px #c3d0f9;
  border-radius: 20px;
  background-color: #4d5c92;
  overflow: hidden;
}
.frame22 {
  position: absolute;
  left: 0;
  top: 80px;
  width: 393px;
  height: 772px;
  align-items: flex-start;
  border-radius: 40px 40px 0 0;
  background-color: #fff;
  overflow: hidden;
}
.searchBar {
  position: absolute;
  left: 4.5802%;
  right: 4.5802%;
  top: 90.6736%;
  bottom: 2.0725%;
  border-radius: 28px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 14px 3px #0000001f;
}
.stateLayer {
  flex: 1;
  align-self: stretch;
  align-items: center;
  gap: 4px;
  padding: 4px;
}
.leadingIcon {
  width: 48px;
  height: 48px;
  flex-direction: column;
  place-content: center;
  align-items: center;
}
.container {
  width: min-content;
  height: min-content;
  border-radius: 100px;
  overflow: hidden;
}
.stateLayer2 {
  width: 39px;
  height: 39px;
  overflow: visible;
}
.icon13 {
  width: 100%;
  height: 100%;
}
.content {
  flex: 1;
  align-self: stretch;
  align-items: center;
}
.supportingText {
  color: #3d3d3d;
  font-size: 14px;
  line-height: 24px;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.5px;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.trailingElements {
  width: min-content;
  height: min-content;
  place-content: flex-end;
  align-items: center;
}
._1stTrailingIcon {
  width: 48px;
  height: 48px;
  flex-direction: column;
  place-content: center;
  align-items: center;
}
.container2 {
  width: min-content;
  height: min-content;
  border-radius: 100px;
  background-color: #5a0fc8;
  overflow: hidden;
}
.stateLayer3 {
  width: 46px;
  height: 46px;
  overflow: visible;
}
.icon14 {
  width: 100%;
  height: 100%;
}
.frame40 {
  position: absolute;
  left: 23.4097%;
  right: 1.7812%;
  top: calc(50% - -68.5px);
  height: 45px;
  place-content: center;
  padding: 0 0 0 121px;
  transform: translateY(-50%);
}
.frame31 {
  position: absolute;
  left: 221px;
  top: 386px;
  width: 162px;
  height: 48px;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 0 0 74px;
}
.frame26 {
  width: 99px;
  height: 42px;
}
.icon15 {
  width: 100%;
  height: 100%;
}
.frame28 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM {
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame34 {
  position: absolute;
  left: 20px;
  top: 113px;
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.frame32 {
  width: 357px;
  height: min-content;
  padding: 0 0 0 121px;
}
.frame312 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.frame262 {
  height: 39px;
  align-self: stretch;
  padding: 12px;
  border-radius: 30px 30px 0;
  background-color: #93a2d8;
  overflow: hidden;
}
.frame282 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM2 {
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame33 {
  width: 246px;
  height: min-content;
  place-content: center;
}
.frame313 {
  width: 248px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.frame263 {
  height: 39px;
  align-self: stretch;
  padding: 12px;
  border-radius: 30px 30px 30px 0;
  background-color: #505f98;
  overflow: hidden;
}
.frame283 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM3 {
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame402 {
  width: 358px;
  height: min-content;
  padding: 0 0 0 121px;
}
.frame314 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
}
.frame264 {
  height: 39px;
  align-self: stretch;
  padding: 12px;
  border-radius: 30px 30px 0;
  background-color: #93a2d8;
  overflow: hidden;
}
.frame284 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM4 {
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame315 {
  width: 248px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.frame265 {
  height: 39px;
  align-self: stretch;
  padding: 12px;
  border-radius: 30px 30px 30px 0;
  background-color: #505f98;
  overflow: hidden;
}
.frame285 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM5 {
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.frame38 {
  width: 357px;
  height: min-content;
}
.frame316 {
  height: min-content;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.frame266 {
  height: 39px;
  align-self: stretch;
  padding: 12px;
  border-radius: 30px 30px 30px 0;
  background-color: #505f98;
  overflow: hidden;
}
.frame27 {
  width: min-content;
  height: min-content;
  padding: 2px 5px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
._10AM6 {
  color: #3d3d3d;
  font-size: 12px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: capitalize;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.topAppBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 393px;
  height: min-content;
  align-items: center;
  gap: 4px;
  padding: 8px 4px;
}
.headline {
  color: #fff;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  font-family: Sora, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.trailingIcon {
  width: min-content;
  height: min-content;
  place-content: flex-end;
  align-items: center;
}
.trailingIcon2 {
  width: 48px;
  height: 48px;
  flex-direction: column;
  place-content: center;
  align-items: center;
}
.container3 {
  width: min-content;
  height: min-content;
  border-radius: 100px;
  overflow: hidden;
}
.stateLayer4 {
  width: 40px;
  height: 40.0361px;
  overflow: visible;
}
.icon16 {
  width: 100%;
  height: 100%;
}
