.root {
  position: relative;
  width: 1440px;
  height: 57px;
  align-items: flex-start;
  background-color: #fff;
}
.rectangle {
  position: absolute;
  left: 0;
  right: 0;
  top: -5.2632%;
  bottom: 0;
  background-color: #fff;
}
.signup_button {
  position: absolute;
  left: 85.625%;
  right: 9.9306%;
  top: 26.3158%;
  bottom: 28.0702%;
  align-items: flex-start;
  background-color: #fff;
}
.bG {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #111b47;
}
.buttonLabel {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.login_button {
  position: absolute;
  left: 91.3194%;
  right: 4.2361%;
  top: 26.3158%;
  bottom: 28.0702%;
  align-items: flex-start;
  background-color: #fff;
}
.bG2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #111b47;
}
.buttonLabel2 {
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.contact_button {
  position: absolute;
  left: 25.0694%;
  right: 70.4861%;
  top: 26.3158%;
  bottom: 28.0702%;
  align-items: flex-start;
  background-color: #fff;
}
.bG3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.buttonLabel3 {
  color: #505f98;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.home {
  position: absolute;
  left: 11.5278%;
  right: 84.0278%;
  top: 26.3158%;
  bottom: 28.0702%;
  align-items: flex-start;
  background-color: #fff;
}
.bG4 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.buttonLabel4 {
  color: #505f98;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.about {
  position: absolute;
  left: 17.7083%;
  right: 77.8472%;
  top: 26.3158%;
  bottom: 28.0702%;
  align-items: flex-start;
  background-color: #fff;
}
.bG5 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.buttonLabel5 {
  color: #505f98;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.logoLandie {
  position: absolute;
  left: 681px;
  top: 9px;
  width: 136px;
  height: 38px;
  align-items: flex-start;
  background-color: #fff;
}
.landie {
  color: #37447e;
  font-size: 26px;
  line-height: 38px;
  font-weight: 900;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0;
  right: -72.1519%;
  top: 0;
  bottom: 0;
  height: min-content;
  flex-direction: column;
}
